<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.erikalfredsson.helloworld" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="se.erikalfredsson.helloworld.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="se.erikalfredsson.helloworld.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="se.erikalfredsson.helloworld.SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="se.erikalfredsson.helloworld.TimerService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name="se.erikalfredsson.helloworld.StopwatchService"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>

    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>
